.navColor {
   
    display: flex;
    flex-direction: row;
    
    width: 100%;
    box-sizing: border-box;
    position: static;
    background-color:#f44336;
    color: #fff;
    
    padding: 10px;
    border-radius: 10px;
    
   
}
.navItemBox1{
    color: rgb(255, 255, 255);
    right: 0px;
    text-align: left;
    width: 100%;
}
.navItemBox3{
    color: rgb(255, 255, 255);
    right: 0px;
    text-align: right;
    width: 100%;
}

.navItemBox{
    background-color: rgba(255, 255, 255, 0.15);
    color: rgb(22, 22, 23);
    left: 0px;
    display: flex;
border-radius: 4px;
    width: 35%;}
    

    .navItemBox5{
        flex-direction: column;
        left: 0px;
        display: flex;
    border-radius: 4px;
        width: 60%;}


.navDiv{
    padding: 10px;
    display: flex;
}